body, html {
    height: 100%;
    margin: 0;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #283848;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;

  }
  /*Style for the common header*/
  header {
    background-color: #a29baa;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    border-radius: 10px;/*added this too for the rounded edges*/
}
.logo-container {
    display: flex;
    align-items: center;
}

.nav_list {
    border-radius: 20px;

    font-weight: 400;
}
ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}
ul li a {
    text-decoration: none;
    font-weight: 100px;
    font-size: 15px;
    font-family: Montserrat Alternates, sans-serif;
    color: white;
    transition: all 0.3s ease 0s;
}
ul li a:hover {
    background-color: #283848;
    color: white;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border-radius: 20px;
}
ul li a:active {
    background-color: #283848;
    color: #283848;
}

.shanaheader{
height: 30%;
background-color: #ffe5b4ef;
text-align: center; 
border-radius:  15px;
}
.ourlogo{
  height: 100%;
  width: 180px;  
}
.mainsection{
background-color: #ffe5b4ef;  
 border-radius:  15px;
}
.myflexcontainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.picholder{
align-items: start;
}
.infoholder{
  text-align: start;
}
.profilepic{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.product-section{
  padding: 10px ;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.product-card{
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 30%;
  display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
  flex: 1 0 30%; /* This will create 3 product-cards per row. */
  margin: 5px;
  position: relative;
}
.product-card h2{
  text-align: center;
}
.productholder{
  width: 100%;
	margin-bottom: 1.5rem;
  padding-top: 10px; ;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.productholder img{
  height: 320px;
	display: block;
  border-radius: 15px;
  width:80%
}
input[type="text"], input[type="number"]{
  border: solid 1px #efefef;
  border-radius: 15px;
  width:100%;
  height: 30px;
  font-family: Montserrat Alternates, sans-serif;
  text-align: center;
}
select{
  border: solid 1px #efefef;
  border-radius: 15px;
  width:100%;
  height: 30px;
}
.btn{
  display: block;
  margin: 0 auto;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: none;
  outline: none;
  background-color: #f0b3b2;
  padding: 15px;
  border-radius: 4px;
}
.btn:hover{
  background-color: #283848;
  color: white;
}

#goUpBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #f0b3b2;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;

}

#goUpBtn:hover {
  background-color: #283848;
  color: white;
}
#goUpBtn img{
  width: 20px;
  height: 20px;
}

/*CSS for the footer*/


ul {
  list-style: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.footer {
  margin-top: 4px;
  background-color: #a29baa;
  width: 100%;
  bottom: 0;
  position: relative;
  text-align: center;
}
.footer_cols {
  width:100% ;
  padding-top: 5px;
}
.footer_cols h4 {
  font-size: 20px;
  color: #f3d0bd;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 500;
  position: relative;
}

.footer_cols ul li {
  font-size: 12px;
  text-transform: capitalize;
  color: #283848;
  text-decoration: none;
  font-weight: 500;
  display: block;
  transition: all 0.3s ease;
}
.footer_cols .social_media a {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-color: rgba(red, green, blue, alpha);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #283848;
  
}
.footer_cols .social_media a:hover {
  color: #f3d0bd;
  background-color: rgba(red, green, blue, alpha);
}

/*Common Sign in page styling*/
#sign_in_overlay{
  width: 100%;
  height: 100%;
  background-color: #1b1a1dc4;

  position: fixed;
  display: none; /*Hide or reveal sign in form*/
  z-index: 1;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
}
#sign_in_form{
  background-color: #e3bca7c9;
  border-left: #283848 5px solid;
  color: #283848;
  
  position: absolute;
  top: 30%;
  left: 20%;
  width: 55%;
  min-width: 300px;
  

  border-radius: 20px;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 2;
  

}

#sign_in_form> h2{
  color: aliceblue;
  border: #283848;
  margin-bottom: 20px;
  
}

.account_forms > form > .data_entry{
  margin-bottom: 20px;
  
  padding: 5px;
  border: none;
  width: 70%;
  min-width: 200px;
  border-bottom:2px solid #39373b;
}

.account_forms > form > label{
  display: inline-block;
  width: 150px;
  font-weight: 400;

}

.account_forms > form > textarea{
  
  width: 60%;
  height:100px;
}

.buttonS{
  transition: all 0.3s ease 0s;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: none;
  outline: none;
  background-color: #f0b3b2;
  padding: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.buttonS:hover{
  background-color: #283848;
  color: white;
}


 /* This will create 2 product-cards per row when the screen is less than 750px. */
@media only screen and (max-width: 750px) {
  .product-card {
    flex: 1 0 45%;
  }

}
 /* This will create 1 product-card per row when the screen is less than 520px. */
@media only screen and (max-width: 520px) {
  .product-card {
    flex: 1 0 100%;
  }
  .myflexcontainer{
    flex-direction: column;
  }
  .infoholder{
    text-align: center;
    text-wrap: wrap;
  }
  .picholder{
    align-items: center;
    }


}


