body{
  background-color: black;
}


h1 {
  color: white;
  text-align: center;
  
}


#ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: black;
}/*end of list*/


li {
  float:left
}
 a {
  display: block;
  color: white;
  padding: 8px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

